@import url('https://fonts.googleapis.com/css?family=Spartan&display=swap');
* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-size: 16px;
}

body {
  margin: 0;
  color: #8000ff;
  background-color: white;
}

.quiz {
  display: -webkit-box;
  display: flex;
  height: 100%;

}
.quiz__wrapper {
  position: relative;
  display: -webkit-box;
  display: flex;
  width: 40vw;
  min-width: 320px;
  margin: auto;
}
.quiz__card {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  width: 100%;
  min-height: 320px;
  margin: auto;
  padding: 1rem;
  text-align: center;
  color: #ffead1;
  border-radius: 1rem;
  background-color: #4E2A84;
  box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.5);
  font-family: 'spartan', sans-serif;
}
.quiz__card[aria-active="true"] {
  display: -webkit-box;
  display: flex;
  -webkit-animation: revealQuizQuestion 0.5s cubic-bezier(0, 0, 0, 1);
          animation: revealQuizQuestion 0.5s cubic-bezier(0, 0, 0, 1);
}
.quiz__button {
  display: inline-block;
  margin: .25rem;
  padding: .25rem 1rem;
  font-size: 1rem;
  line-height: 1;
  color: #4E2A84;
  border: 1px solid #ffead1;
  border-radius: .5rem;
  background-color: #e6ccff;
  box-shadow: 0 2px 0 2px #ffead1;
  font-family: 'spartan', sans-serif;

}
.quiz__button:hover, .quiz__button:focus {
  background-color: #ffb3d1;
}
.quiz__button:active {
  box-shadow: 0 0 0 2px #ffead1;
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
}
.quiz__results {
  display: inline-block;
}


li{
  list-style-type: none;
  margin: 2vw 0;
  font-size: 2.5vh;
}

a{
  text-decoration: none;
  color: #ffead1;
  padding: 2vw;
}

nav{
  width: 100vw;
  background-color: #4E2A84;
  font-family: 'spartan', sans-serif;

}

ul{
  display: block;
  margin: 0;
  padding: 0;
  display: flex;
}

a:hover{
  background-color: #e6ccff;
  color: #4E2A84;
}

#passcode{
  font-family: 'spartan', sans-serif;
  height: 50px;
  width: 400px;
  font-size:14pt;
}

form{
  padding: 20%;
  padding-left: 40%;
}

.login_button {
  display: inline-block;
  margin: 0.25rem;
  margin-left: 5rem;
  padding: .25rem 1rem;
  font-size: 1rem;
  line-height: 3;
  color: #ffead1;
  width: 15rem;
  border: 1px solid #ffead1;
  border-radius: .5rem;
  background-color: #4E2A84;
  box-shadow: 0 2px 0 2px #ffead1;
  font-family: 'spartan', sans-serif;

}
.login_button:hover, .login_button:focus {
  background-color: #e6ccff;
  color: #4E2A84;
}
.login_button:active {
  box-shadow: 0 0 0 2px #ffead1;
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
}

/* label{
  float: left;
} */


.quiz__answers--columns{
  text-align: left;
}




@media only screen and (max-width: 500px) {
  ul{
    flex-direction: column;
  }

  a{
    display: block;
  }

  li{
    margin: 0;
  }

}



@-webkit-keyframes revealQuizQuestion {
  from {
    opacity: 0;
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
  }
}

@keyframes revealQuizQuestion {
  from {
    opacity: 0;
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
  }
}

pre{
  white-space: pre-wrap;
  line-height: 1.5;
  font: small-caption;
  font-size: x-small;
}
